body {
  font-family: 'Permanent Marker', cursive;
  transition: 0.2s ease;
  text-align: center;
}

body.success  {
  background-color: #1bc21b;
  transition: 0.2s ease;
}

.game-container {
  margin: 0px auto;
}

#map-and-controls {
  display: flex;
  justify-content: center;
}

p {
  margin: 10px 0px;
  padding: 0px;
}

.game-map {
  position: relative;
  margin: 0px auto;
}

div.layer, 
div.layer div {
  position: absolute;
}

/* #tiles div {
  border: 2px solid rgb(77, 76, 76);
} */

.default .floor {
  background-color: rgb(175, 175, 175);
  border: 2px solid grey;
}
.default .wall {
  background-color: rgb(9, 45, 160);
  border: 2px solid aqua;
}

.player, 
.goal {
  transform-origin: center;
  transform:scale(0.85);
}

.player {
  background-color: #90ee90;
  border: 2px solid green;
  transition: left 0.2s linear, top 0.2s linear;
}

.goal {
  background-color: #FFD700;
  border: 2px solid #98720b;
}

#success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
}

body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}